<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sys.mapper.FiledownloadmanageMapper">
    <select id="get" parameterType="String" resultType="com.example.sys.entity.Filedownloadmanage">
        SELECT * from filedownloadmanage where fileUrl = #{fileUrl}
    </select>
    <insert id="addFile" parameterType="com.example.sys.entity.Filedownloadmanage">
        insert into filedownloadmanage(fileId, fileUrl, fileDownloaded, fileDownloading, downloadedByte, fileSelected)
                    values(#{fileId}, #{fileUrl}, #{fileDownloaded}, #{fileDownloading}, #{downloadedByte},#{fileSelected})
    </insert>

    <delete id="deleteFile" parameterType="String">
        DELETE FROM filedownloadmanage WHERE fileUrl = #{fileUrl}
    </delete>

    <update id="selectFile" parameterType="String">
        UPDATE filedownloadmanage SET fileSelected = #{selected} WHERE fileUrl = #{fileUrl}
    </update>

    <select id="getSelectedFileList" parameterType="com.example.sys.entity.Filedownloadmanage" resultType="com.example.sys.entity.Filedownloadmanage">
        SELECT * from filedownloadmanage where fileSelected = "true"
    </select>

    <select id="getFile" parameterType="String" resultType="com.example.sys.entity.File">
        SELECT * from file where fileUrl = #{fileUrl}
    </select>

    <update id="setDownloading" parameterType="String">
        UPDATE filedownloadmanage SET fileDownloading = "yes" WHERE fileUrl = #{fileUrl}
    </update>

    <update id="setDownloadingNo" parameterType="String">
        UPDATE filedownloadmanage SET fileDownloading = "no" WHERE fileUrl = #{fileUrl}
    </update>

    <update id="setDownloaded" parameterType="String">
        UPDATE filedownloadmanage SET fileDownloaded = "yes" WHERE fileUrl = #{fileUrl}
    </update>
    
    <select id="getAllDownloadedFile" parameterType="String" resultType="com.example.sys.entity.Filedownloadmanage">
        SELECT * from filedownloadmanage WHERE fileDownloaded = #{fileDownloaded}
    </select>

    <select id="findZipAndDownloaded" resultType="com.example.sys.entity.File">
        SELECT DISTINCT file.* FROM file, filedownloadmanage WHERE file.fileType = "zip" AND filedownloadmanage.fileDownloaded = "yes"
    </select>
</mapper>
